<p>Ask your coach anything</p>
<form action="answer" data-turbo="false">
  <%# <label for="answer" class="form-label"></label> %>
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
